---
title: Featured Projects
layout: page
permalink: /projects/
---
{% assign allprj = site.projects | sort: 'year' | reverse %}
{% assign mp = allprj | where_exp: 'project', "project.featured != true" %}
{% assign fp = allprj | where_exp: 'project', "project.featured == true" %}


{% for post in fp %}
<div class="row mb-3 border rounded p-0">
  <div class="col-3 px-0 ">

    <a href="{{post.url | absolute_url}}">
      <img src="{{site.baseurl}}/{{post.featured_image[0].src}}" alt="{{post.featured_image[0].alt}}"
        class="card-img-top rounded">
    </a>

  </div>
  <div class="col-9 px-0">
    <div class="mx-3 my-2">
      <div>
        {%for tag in post.tags %}<span class="badge rounded-pill mb-2 mt-0 text-bg-info me-1">{{tag}}</span>{%endfor%}
      </div>
      <h2 class="mb-0">{{post.title}}</h2>
      <p class="my-0">{{post.subtitle}}</p>
      <a class="mt-auto no-tufte-underline text-decoration-underline" href="{{post.url | absolute_url}}">
        <i class="fas fa-search-plus"></i> Read More</a>
    </div>
  </div>
</div>

{% endfor %}

<!-- 
<div class="text-center">
  <a data-bs-toggle="collapse" href="#old-prj" role="button" aria-expanded="false" id="show-old-prj"
    aria-controls="old-prj" onclick="document.getElementById('show-old-prj').style.display='none'">
    View More Projects
  </a>
</div>
<div class="collapse mt-5" id="old-prj">
  <h3>Older Projects</h3>
  {% for post in mp %}
  <div class="row mb-3 border rounded p-0">
    <div class="col-3 px-0 ">
      <a href="{{post.url | absolute_url}}">
        <img src="{{site.baseurl}}/{{post.featured_image[0].src}}" alt="{{post.featured_image[0].alt}}"
          class="card-img-top rounded">
      </a>
    </div>
    <div class="col-9 px-0">
      <div class="mx-3 my-2">
        <div>
          {%for tag in post.tags %}<span class="badge rounded-pill mb-2 mt-0 text-bg-info me-1">{{tag}}</span>{%endfor%}
        </div>
        <h2 class="mb-0">{{post.title}}</h2>
        <p class="my-0">{{post.subtitle}}</p>
        <a class="mt-auto no-tufte-underline text-decoration-underline" href="{{post.url | absolute_url}}">
          <i class="fas fa-search-plus"></i> Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div> -->

<style>
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.65);
  }

  .card-img-top {
    height: 100%;
    object-fit: cover;
  }

  .card {
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
  }

  .dropdown-item:hover {
    font-weight: bolder;
  }

  img {

    transition: 0.5s ease;
  }

  img:hover {
    scale: 1.05;
  }
</style>