---
title: Projects
layout: page
permalink: /projects/
---
{% assign allprj = site.projects | sort: 'year' | reverse %}
{% assign mp = allprj | where_exp: 'project', "project.featured != true" %}
{% assign fp = allprj | where_exp: 'project', "project.featured == true" %}
<div class="dropdown-center text-center ">
  <a class="btn dropdown-toggle border px-4 no-tufte-underline fw-bold" href="#" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    QuickView
  </a>

  <ul class="dropdown-menu text-center">

    {% for post in allprj %}
    <li><a class="dropdown-item no-tufte-underline px-3" href="{{post.url | absolute_url}}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</div>
<h2>Featured Projects</h2>

{% for post in fp %}
{% cycle 'add row' : '<div class="row">', '' %}
  <div class="col-lg-5 mb-3 d-flex align-items-stretch">
    <div class="card bg-dark text-white">
      <img src="{{site.baseurl}}/{{post.img}}" alt="{{post.imgtext}}" class="card-img-top rounded">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-text fw-bold"><span class="mr-auto">{{post.title}}</span></div>
        <div>{%for tag in post.tags %}<span class="badge rounded-pill text-bg-info mx-1">{{tag}}</span>{%endfor%}</div>
        <a class="mt-auto no-tufte-underline text-decoration-underline" href="{{post.url | absolute_url}}"><i
            class="fas fa-search-plus"></i> Read
          More</a>
      </div>
    </div>
  </div>
  {% cycle 'end row' : '', '
</div>' %}
{% endfor %}

<h2>More Projects</h2>

{% for post in mp %}
{% cycle 'add row' : '<div class="row">', '' %}
  <div class="col-lg-5 mb-3 d-flex align-items-stretch">
    <div class="card bg-dark text-white">
      <img src="{{site.baseurl}}/{{post.img}}" alt="{{post.imgtext}}" class="card-img-top rounded">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-text fw-bold"><span class="mr-auto">{{post.title}}</span></div>
        <div>{%for tag in post.tags %}<span class="badge rounded-pill text-bg-info mx-1">{{tag}}</span>{%endfor%}</div>
        <a class="mt-auto no-tufte-underline text-decoration-underline" href="{{post.url | absolute_url}}"><i
            class="fas fa-search-plus"></i> Read
          More</a>
      </div>
    </div>
  </div>
  {% cycle 'end row' : '', '
</div>' %}
{% endfor %}




<style>
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.65);
  }

  .card-img-top {
    height: 100%;
    object-fit: cover;
  }

  .card {
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
  }

  .dropdown-item:hover {
    font-weight: bolder;
  }
</style>