<footer class="page-footer">
  <div class="credits faded">
    <span>&copy; {{ site.time | date: '%Y' }}
      {% if site.email == "" or site.email == nil %}
      {{ site.author }}
      {% else %}
      <a href="mailto:{{ site.email }}">{{site.author}}</a>
      {% endif %}
    </span>
    <div class="mb-0">
      <a class="no-tufte-underline h5" href="https://linkedin.com/in/{{ site.linkedin_username }}"><i
          class="fab fa-linkedin-in"></i></a>
      <a class="no-tufte-underline h5" href="https://github.com/{{ site.github_username }}"><i
          class="fab fa-github"></i></a>
      <a class="no-tufte-underline h5" href="https://twitter.com/{{ site.twitter_username }}"><i
          class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>