<link rel="stylesheet" type="text/css" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/fonts-et-book.css" | prepend: site.baseurl}}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/fonts-lato.css" | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/fonts-autography.css" | prepend:site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/latex.css" | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/lightbox.css" | prepend: site.baseurl }}">

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>


