/* Override this file in your site to create any custom site-local CSS */
.toggle-theme {
    position: absolute;
    //width: 45px;
    //height: 45px;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 0;
    font-size: 2.2em;
  }
  
.dark .toggle-theme::after {
  content: "☽";
  color: #f1f1f1;
}

.light .toggle-theme::after {
  content: "☀";
  color: #000;
}

.footnotes ol li, .footnotes ol li p, .footnote{
  font-size: 0.8em;
}

.endmark {
  margin-bottom: 1.2em;
}

.endmark::after {
  font-size: 1.5em;
  margin-left: 0.1rem;
  vertical-align: top;
  font-family: "Autography";

  height: 1em;
  content: "sk";
}