/* Autography Font */
@font-face {
  font-family: "Autography";
  src: url("../fonts/Autography/Autography.woff2") format("woff2"),
    url("../fonts/Autography/Autography.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.autography {
  font-family: "Autography";
  font-weight: normal;
}
