---
layout: page
full_width: true
---

<style>
  img {
    transition: 0.5s ease;
  }

  img:hover {
    scale: 1.01;
  }
</style>

<p class="subtitle my-0">{{ page.subtitle }}</p>
<div class="mb-2">
  {%for tag in page.tags %}
  <span class="badge rounded-pill text-bg-info mx-1">{{tag}}</span>
  {%endfor%}
</div>
<a href="{{site.baseurl}}/{{page.img}}">
  <img
    src="{{site.baseurl}}/{{page.img}}"
    class="mx-auto rounded d-block"
    alt="{{page.imgtext}}"
  />
</a>

{% include anchor_headings.html html=content anchorBody="¶"
anchorClass="anchor-link"%}
